#!/usr/bin/env bash
ARG=""

backup ()
{
	cd / && tar zcf /tmp/database.tar.bz2 data
	/bin/bash /root/dropbox_uploader.sh upload /tmp/database.tar.bz2 /
	cd /etc && tar zcf /tmp/letsencrypt.tar.bz2 letsencrypt
	/bin/bash /root/dropbox_uploader.sh upload /tmp/letsencrypt.tar.bz2 /
	rm -f /tmp/database.tar.bz2 /tmp/letsencrypt.tar.bz2
}

download ()
{
	cd /tmp
	/bin/bash /root/dropbox_uploader.sh download letsencrypt.tar.bz2
	/bin/bash /root/dropbox_uploader.sh download database.tar.bz2
	tar xf letsencrypt.tar.bz2 -C /etc/
	tar xf database.tar.bz2 -C /
  rm -f /tmp/database.tar.bz2 /tmp/letsencrypt.tar.bz2
}

while getopts "bd" opt; do
  case $opt in
    b)
      ARG=1
      backup
    ;;

    d)
      ARG=1
      download
    ;;

    \?)
      echo "Usage: $0 [-b] [-d]" 1>&2
      exit 1
    ;;

    :)
      echo "Usage: $0 [-b] [-d]" 1>&2
      exit 1
    ;;

  esac
done

if [ -z "${ARG}" ]; then
  echo "Usage: $0 [-b] [-d]" 1>&2
  exit 1
fi
